/* COMMON CSS START */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}
/* COMMON CSS END */

/* Navber Css Start */
#nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  position: relative;
}

.nav-button {
  background: #bf885e;
  padding: 16px 24px 16px 24px;
  color: white;
  display: inline-block;
  text-align: center;
  border: none;
  font-family: "Roboto", sans-serif;
}
.nav-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.nav-number {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.nav-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
}
.section {
  display: flex;
  gap: 8px;
}
.nav-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.fa-phone {
  color: white;
  font-size: 16px;
}
.fa-bars {
  color: white;
  font-size: 24px;
}
.section-text {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
}
.fa-angle-down {
  color: white;
}

/* Navber Css End */

/* Banner Css Start */
.section_container {
  width: 100%;
  height: 1056px;
  background-image: url("./image/banner_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  z-index: 1;
}

.section_container::after {
  content: "";
  width: 100%;
  height: 1056px;
  background-color: #21160e;
  opacity: 50%;
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
}

.sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.title-line-image {
  height: 8px;
  width: 56px;
}

.banner-text-p {
  letter-spacing: 4px;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.bannerh1 {
  font-family: "Anglecia Pro Display", sans-serif;
  font-size: 64px;
  color: white;
  font-weight: 400;
  padding-bottom: 28px;
  padding-top: 16px;
}
.fa-circle-play {
  color: white;
  font-size: 88px;
}
.banner-end-p {
  font-size: 12px;
  font-weight: 400;
  padding-top: 8px;
  color: white;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.banner-end-part {
  background-color: #21160e;
  opacity: 50%;
  width: 100%;
  height: 154px;
  position: absolute;
  margin-top: 902px;
  margin-right: 0;
  z-index: -1;
}

.date-p {
  color: #d4cfcd;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  z-index: 50;
}

/* banner css end */

.welcome-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #f7f6f6;
  z-index: -2;
}
.we-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  margin-bottom: 16px;
}
.we-text-p {
  font-size: 14px;
  color: #7a6f68;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
}

.text-hl {
  font-size: 56px;
  font-weight: 400;
  color: #21160e;
  font-family: "Anglecia Pro Display", sans-serif;
  margin-bottom: 18px;
}

.near-text {
  font-size: 36px;
  font-weight: 400;
  color: #21160e;
  margin-bottom: 40px;
  width: 488px;
  font-family: "Anglecia Pro Display", sans-serif;
}

.p-text-a {
  font-size: 18px;
  font-weight: 600;
  color: #473d35;
  width: 488px;
  line-height: 24px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
}

.para-text {
  font-size: 18px;
  font-weight: 400;
  color: #473d35;
  width: 488px;
  line-height: 32px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
}
.we-all::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 2.5px;
  border-color: #664831;
  height: 100%;
  left: 20px;
  text-align: center;
  z-index: -1;
  top: 20px;
  width: 100%;
}
.we-all::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #664831;
  height: 100%;
  left: 25px;
  text-align: center;
  z-index: -1;
  top: 25px;
  width: 100%;
}

.we-all {
  background-color: #f7f6f6;
  position: relative;
  height: 728px;
  width: 708px;
  padding: 120px;
}

.we-all-text {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-right: 800px;
}
.welcomeimage {
  margin-left: 600px;
  z-index: -2;
}

/* WELCOME SECTION CSS END  */

/* ACCOMMODATION SECTION CSS START  */
.all-textacc {
  padding-top: 144px;
}

.fac-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.htext-ro {
  font-size: 56px;
  font-weight: 400;
  color: #21160e;
  margin-bottom: 16px;
  margin-top: 16px;
  font-family: "Anglecia Pro Display", sans-serif;
  text-align: center;
}
.ptext-vesti {
  font-size: 18px;
  font-weight: 400;
  color: #473d35;
  line-height: 32px;
  margin-bottom: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* ACCOMMODATION SECTION CSS END */

/* SLIDES ROOMS SECTION CSS START */

.rooms-image {
  height: 1000px;
  margin-bottom: -4px;
}

/* SLIDES ROOMS SECTION CSS END */

.faci-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #664831;
  z-index: -1;
}
.faciimage {
  padding-right: 600px;
  z-index: -1;
}
.faci-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  margin-bottom: 16px;
}
.faci-all {
  background-color: #664831;
  position: relative;
  height: 728px;
  width: 708px;
  padding: 120px;
}
.faci-all::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 2.5px;
  border-color: #ffffff;
  height: 100%;
  right: 20px;
  text-align: center;
  z-index: -1;
  top: 20px;
  width: 100%;
}
.faci-all::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  height: 100%;
  right: 25px;
  text-align: center;
  z-index: -1;
  top: 25px;
  width: 100%;
}

.faci-all-text {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 800px;
}
.factext-p {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 16px;
  color: #C2B0A3;
  font-family: "Roboto", sans-serif;
}

.all-fcehedw{
  font-size: 56px;
  color: #C2B0A3;
  padding-bottom: 40px;
  font-family: "Anglecia Pro Display", sans-serif;
}

/* FACILITIES SECTION CSS END */



.make-p{
  gap: 10px;
  padding-top: 120px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.maketext-p{
  font-size: 14px;
  color: #7a6f68;
  padding-bottom: 16px;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
}

.text-sh{
  color: #21160e;
  font-size: 56px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 16px;
  font-family: "Anglecia Pro Display", sans-serif;

}







.make-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20PX;
  

  z-index: -1;
}
.makeimage {
  height: 935px;
  width: 812px;
  text-align: center;
  z-index: -1;
}
.make-title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
  margin-bottom: 16px;
}
.make-all {
  align-items: center;
  justify-content: center;
  background-color: #664831;
  position: absolute;
  top:350px;
  right: -25px;
  height: 320px;
  width: 800px;
  padding: 120px;
}
.make-all::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 2.5px;
  border-color: #ffffff;
  height: 100%;
  left: 20px;
  text-align: center;
  z-index: -1;
  top: -20px;
  width: 100%;
}
.make-all::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  height: 100%;
  right: -15px;
  text-align: center;
  z-index: -1;
  top: -12px;
  width: 100%;
}

.make-all-text {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 800px;
}
.maketext-p {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 16px;
  color: #C2B0A3;
  font-family: "Roboto", sans-serif;
}

.allmake-fcehedw{
  font-size: 56px;
  color: #C2B0A3;
  padding-bottom: 40px;
  font-family: "Anglecia Pro Display", sans-serif;
}